#admin-dashboard-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    height: 100vh;
}

#admin-loading-span{
    font-size: 40px;
}

.mapped-container{
    position: fixed;
    left: 200px;
    top: 200px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: auto;
    width: 40%;
    background-color: white;
    border-radius: 18px;
}