@import '../../../../scss/variables';

#dashboard-container{
    position: relative;
    height: 100vh;
    max-height: 100vh;
    width: 100%;

}


#loading-span{
    position: relative;
    font-size: 60px;
    top: 25vh;
}



.student-class-dash{
    position: relative;
    margin-bottom: 20px;
    height: 50px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    background-color: rgba(197, 197, 197, 0.438);
    border-radius: 10px;
}

.student-class-dash:hover{
    background-color: rgb(170,170,170)
}

.class-input{
    height: 30px;
    width: 360px;
    border-radius: 5px;
}

.teacher-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mapped-container{
    position: relative;
    left: 15%;
    top: 170px;
    width: 30%;
    border-radius: 15px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

#classes-title-span{
    position: absolute;
    font-size: 70px;
    left: 300px;
    top: 80px;
}

#add-class-btn{
    background-color: $student-theme;
}

#add-class-btn:hover{
    background-color: #3b3b3b;
}