@mixin flexCenter{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#test{
    @include flexCenter;
    height: 80vh;
    width: 80%;
    margin: 0 auto;
}

#test-container{
    position: fixed;
    top: 10vh;
    height: 80vh;
    width: 50%;
    background-color: rgb(252, 249, 249);
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%
}

#test-name-span{
    position: fixed;
    left: 40%;
    top: 10px;
    align-self: center;
    font-size: 60px;
}

#question-num{
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 40px;
}

.option-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    margin-top: 10px;
    background-color: rgba(131, 131, 131, 0.74);
    width: 80%;
    height: 65px;
}

#options{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.test-question-option{
    position: absolute;
    border: solid black 3px;
    left: 80px;
    height: 50px;
    border-radius: 15px;
    width: 10%;
}

.test-question-option-selected{
    background-color: black;
}

#question-container{
    position: relative;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    left: 78px;
    height: 250px;
    width: 80%;
    background-color: rgba(131, 131, 131, 0.74);

}

#test-btn-next{
    position: absolute;
    bottom: 20px;
    right: 50px;
}

#test-btn-prev{
    position: absolute;
    bottom: 20px;
    left: 50px;
}

#test-btn-submit{
    position: absolute;
    bottom: 20px;
}
