@mixin flexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

body{

    background-color: rgba(197, 197, 197, 0.438);
}

.auth-container{
    @include flexCenter;
    height: 60vh;
    width: 80%;
    margin: 0 auto;
}

#auth{
    position: fixed;
    height: 400px;
    width: 400px;
    background-color: rgb(252, 249, 249);
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
}

#auth-title-span{
    font-size: 70px;
    position: absolute;
    align-self: center;
    top: 40px;
}

#auth-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

#username-span{
    position: absolute;
    top: 180px;
    left:15px;
    font-size: 25px;
}

#username-input{
    position: absolute;
    top: 210px;
    left: 15px;
    height: 30px;
    width: 360px;
    border-radius: 5px;
}

#pass-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

#password-span{
    position: absolute;
    left:15px;
    font-size: 25px;
    top: 260px;
}

#password-input{
    position: absolute;
    top: 290px;
    left: 15px;
    height: 30px;
    width: 360px;
    border-radius: 5px;
}

#login-btn{
    position: absolute;
    height: 40px;
    bottom: 20px;
    right: 45px;
}

#register-link-btn{
    position: absolute;
    height: 40px;
    bottom: 20px;
    left: 45px;
}

.auth-button{ 
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.15em solid #141414;
    margin:0 0.3em 0.3em 0;
    border-radius:5px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#646464;
    text-align:center;
    transition: all 0.2s;
}
.auth-button:hover{
    cursor: pointer;
    color:#fcfcfc;
    background-color:#3b3b3b;
}
@media all and (max-width:30em){
    .auth-button{
    display:block;
    margin:0.4em auto;
}
}